<header>  
    <div class="bar">
        
        <div class="logo">
            <div class="icon"></div>
        </div>
        <h1 class='company title'>Reserved.</h1>
        <h2 class="site">
            <span class="icon icon-arrow-down"></span>
            <span class="location">Site Location</span>
        </h2>

        <nav>
            <span class="nav-icon icon-menu"></span>
            <ul>
                <li>Home</li>
                <li>About</li>
            </ul>
        </nav>
    </div>
</header>