{% extends "reserved/_base.html" %}
{% load staticfiles %}
{% load compress %}

{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Reserved{% block title %} - {% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    {% block headcss %}

    <!-- <link rel="stylesheet" href="http://i.icomoon.io/public/temp/8126d2c6e8/Lister/style.css"> -->
    <link rel="stylesheet" type="css" href="{% static "reserved/css/index.css" %}" />
    <link rel="stylesheet" type="css" href="{% static "reserved/css/qunit.css" %}" />
    <link rel="stylesheet" type="css" href="{% static "reserved/fonts/icomoon/style.css" %}" />

    {% endblock %}

    {% block headjs %}
    <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
    {% endblock %}
{% endblock %}

{% block body %}
	<!-- An example of a Reserved event. -->
	{% block header %}
		{% include 'reserved/_header.html' %}
	{% endblock %}

    {% block menu %}
        {% include 'reserved/_menu.html' %}
    {% endblock %}



    <div class="page-container {% block page_container %}main{% endblock %}">

        {% comment %}
        {% block qunit %}
            <div class="test template">
                <div class="calendar">
                    <div class="dates">
                        <div class="day-view">
                            <h3>Day view</h3>
                            <!-- A day view is broken in hourly (selected) intervals
                            with each booking listed start and end time. -->
                        </div>
                        <!-- in here will list a period of dates -->
                        <div class="week-view">
                            <h3>Week view</h3>
                            <!-- A stack of of days, divided horizonally by a selected
                            time range. -->
                        </div>
                        <div class="month-view">
                            <h3>Month view</h3>
                            <!-- up to 36 blocks of the selected month.
                            Each month has a number next to the event -->
                        </div>
                        <div class="year-view">
                            <h3>Year view</h3>
                            <!-- Each cell is a month of the selected year, each month
                            has an event with a count. Each count is a booking number -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div id="qunit"></div>
            <div id="qunit-fixture"></div> -->
        {% endblock %}
        {% endcomment %}

        {% block _hero %}
            <div class="hero {% block header_size %}mini{% endblock %}">
                <div class="overlay"></div>
                <div class="icon"></div>

                <h1 class="brand">{% block tagline %}Reserved.{% endblock %}</h1>

                <h2>{% block tagstrap %}Need bookings for your company? Check.{% endblock %} <span class="icon-checkmark"></span></h2>
                {% block hero_extra %}{% endblock %}
            </div>
        {% endblock %}
 {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% block container %}

        {% endblock %}
    </div>

	{% include 'reserved/_footer.html' %}
{% endblock %}

{% block footerjs %}
    <script src="{% static 'reserved/js/vendor/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'reserved/js/vendor/jquery.clickout.js' %}"></script>
    <script src="{% static 'reserved/js/vendor/moment.min.js' %}"></script>
    <script src="{% static 'reserved/js/vendor/date.js' %}"></script>
    <script src="{% static 'reserved/js/vendor/crel/crel.min.js' %}"></script>
    <script src="{% static 'reserved/js/vendor/rivets/dist/rivets.min.js' %}"></script>
    <script src="{% static 'reserved/js/vendor/jsface/dist/jsface.all.js' %}"></script>
    <script src="{% static 'reserved/js/vendor/qunit.js' %}"></script>
    <script src="{% static 'reserved/js/vendor/select2-3.5.1/select2.min.js' %}"></script>
    <link rel="stylesheet" type="css" href="{% static "reserved/js/vendor/select2-3.5.1/select2.css" %}" />


    <script src="{% static 'reserved/js/components/Application.js' %}"></script>
    <script src="{% static 'reserved/js/components/CollectionMixin.js' %}"></script>
    <script src="{% static 'reserved/js/components/Template.js' %}"></script>

    <script src="{% static 'reserved/js/test/template-tests.js' %}"></script>
    <script src="{% static 'reserved/js/main.js' %}"></script>

    {{ block.super }}
{% endblock %}
