{% extends 'reserved/base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block page_container %}full-width{% endblock %}
{% block header_size %}large{% endblock %}

{% block hero_extra %}
	<section class="slice core signup">
	    <a href="{% url 'userena_signup' %}" class='signup'>Sign up</a>
	</section>
{% endblock %}

{% block container %}

	{{ block.super }}

	<section class="slice core main">
	{% include 'reserved/sections/_main.html' %}
	</section>

	<section class="slice core client">
	{% include 'reserved/sections/_client.html' %}
	</section>

	<section class="slice core location">
	{% include 'reserved/sections/_location.html' %}
	</section>

	<section class="slice core reports">
	{% include 'reserved/sections/_report.html' %}
	</section>

	<div class="quote intersection">
	    <div class="overlay"></div>
	    <div class="icon"></div>
	    <p>It's all designed for the user, accessible from any device Reserved is easy, safe and fast.</p>
	</div>

	<section class="slice core email">
	{% include 'reserved/sections/_email.html' %}
	</section>

	<section class="slice history core">
	{% include 'reserved/sections/_history.html' %}
	</section>

	<section class="slice pricing core">
	{% include 'reserved/sections/_pricing.html' %}
	</section>

{% endblock %}

{% block footerjs %}
    {{ block.super }}
	<script src="{% static 'reserved/js/index.js' %}"></script>
{% endblock %}
