{% extends 'reserved/base.html' %}
{% load staticfiles %}

{% block headcss %}
	{{ block.super }}
    <link rel="stylesheet" type="css" href="{% static "reserved/css/calendar.css" %}" />
{% endblock %}

{% block container %}
	<h2>Venue Calendar</h2>

	<div class="range">
		<p>Pick a date range to view bookings in this event.</p>
		<ul>
			<li><a href="javascript:;">Agenda</a></li>
			<li><a href="javascript:;" data-type='Day'>A Day (as hours)</a></li>
			<li><a href="javascript:;" data-type='Week'>A Week (as days)</a></li>
			<li><a href="javascript:;" data-type='Month'>A Month (as days)</a></li>
			<li><a href="javascript:;" data-type='Year'>A Year (as months)</a></li>
		</ul>
		<div class="dates">
		</div>
	</div>

	<div class="template hidden">
		<div class="calendar">

			<div class="cell day-cell" id='%(id)s'>
				<div class="date">
					<div class="count hour">{ .count0 }:00</div>
					<div class="range day">{ .datetime | date ddd Do }</div>
				</div>
				<div class="cell-info">
					<div class="name">{ .name }</div>
				</div>
			</div>

			<div class="cell week-cell" id='%(id)s'>
				<div class="date">
					<div class="count week">{ .count | day }</div>
					<div class="range month">week { .datetime | date WW }</div>
				</div>
				<div class="cell-info">
					<div class="name">{ .name }</div>
				</div>
			</div>

			<div class="cell month-cell" id='%(id)s'>
				<div class="date">
					<div class="count day">{ .count }</div>
					<div class="range month">{ .datetime | date MMM YYYY }</div>
				</div>
				<div class="cell-info">
					<div class="name">{ .name }</div>
				</div>
			</div>

			<div class="cell year-cell" id='%(id)s'>
				<div class="date">
					<div class="count month">{ .count0 | month }</div>
					<div class="range year">{ .datetime | date YYYY }</div>
				</div>
				<div class="cell-info">
					<div class="name">{ .name }</div>
				</div>
			</div>
		</div>
	</div>

	<div class="calendar">
		<div class="dates">
			<div class="day-view">
				<h3>Day view</h3>
				<!-- A day view is broken in hourly (selected) intervals
				with each booking listed start and end time. -->
			</div>
			<!-- in here will list a period of dates -->
			<div class="week-view">
				<h3>Week view</h3>
				<!-- A stack of of days, divided horizonally by a selected
				time range. -->
			</div>
			<div class="month-view">
				<h3>Month view</h3>
				<!-- up to 36 blocks of the selected month.
				Each month has a number next to the event -->
			</div>
			<div class="year-view">
				<h3>Year view</h3>
				<!-- Each cell is a month of the selected year, each month
				has an event with a count. Each count is a booking number -->
			</div>
		</div>
	</div>
{% endblock %}

{% block footerjs %}
	{{ block.super }}

    <script src="{% static 'reserved/js/components/Calendar.js' %}"></script>
    <script src="{% static 'reserved/js/venue_calendar.js' %}"></script>

	<!--
    <script src="{% static 'reserved/js/dist/uncompressed/vendor.js' %}"></script>
    <script src="{% static 'reserved/js/dist/uncompressed/app.js' %}"></script>
    <script src="{% static 'reserved/js/dist/uncompressed/site.js' %}"></script>
	-->

{% endblock %}
