/* line 17, ../../../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on March 16, 2014 */
@font-face {
  font-family: 'lato';
  src: url("/static/fonts/lato-reg.eot");
  src: url("/static/fonts/lato-reg.eot?#iefix") format("embedded-opentype"), url("/static/fonts/lato-reg.woff") format("woff"), url("/static/fonts/lato-reg.ttf") format("truetype"), url("/static/fonts/lato-reg.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lato';
  src: url("/static/fonts/lato-regita.eot");
  src: url("/static/fonts/lato-regita.eot?#iefix") format("embedded-opentype"), url("/static/fonts/lato-regita.woff") format("woff"), url("/static/fonts/lato-regita.ttf") format("truetype"), url("/static/fonts/lato-regita.svg#latoitalic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'lato';
  src: url("/static/fonts/lato-bol.eot");
  src: url("/static/fonts/lato-bol.eot?#iefix") format("embedded-opentype"), url("/static/fonts/lato-bol.woff") format("woff"), url("/static/fonts/lato-bol.ttf") format("truetype"), url("/static/fonts/lato-bol.svg#latobold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'lato';
  src: url("/static/fonts/lato-hai.eot");
  src: url("/static/fonts/lato-hai.eot?#iefix") format("embedded-opentype"), url("/static/fonts/lato-hai.woff") format("woff"), url("/static/fonts/lato-hai.ttf") format("truetype"), url("/static/fonts/lato-hai.svg#latohairline") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'lato';
  src: url("/static/fonts/lato-haiita.eot");
  src: url("/static/fonts/lato-haiita.eot?#iefix") format("embedded-opentype"), url("/static/fonts/lato-haiita.woff") format("woff"), url("/static/fonts/lato-haiita.ttf") format("truetype"), url("/static/fonts/lato-haiita.svg#latohairline_italic") format("svg");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'lato';
  src: url("/static/fonts/lato-lig.eot");
  src: url("/static/fonts/lato-lig.eot?#iefix") format("embedded-opentype"), url("/static/fonts/lato-lig.woff") format("woff"), url("/static/fonts/lato-lig.ttf") format("truetype"), url("/static/fonts/lato-lig.svg#latolight") format("svg");
  font-weight: 200;
  font-style: normal; }

/* line 2, ../scss/header-bar.scss */
header {
  position: fixed;
  top: 0;
  /* height: 100px; */
  width: 100%;
  background: white;
  z-index: 4; }

/* line 11, ../scss/header-bar.scss */
header .bar {
  font-size: 32px;
  margin: 20px 0 20px 0;
  line-height: 60px;
  font-weight: 200;
  height: 60px; }
  /* line 18, ../scss/header-bar.scss */
  header .bar .logo {
    width: 100px;
    height: 60px;
    display: inline-block;
    vertical-align: top;
    background-color: #EEE; }
    /* line 25, ../scss/header-bar.scss */
    header .bar .logo .icon {
      background: url("/static/img/icons/marker.svg") no-repeat top;
      width: 100px;
      height: 60px;
      background-size: 61%; }
  /* line 33, ../scss/header-bar.scss */
  header .bar h1, header .bar h2 {
    font-size: 2em;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top; }
  /* line 41, ../scss/header-bar.scss */
  header .bar h1 {
    font-size: 1.6em;
    margin-left: 20px;
    line-height: 60px; }
  /* line 47, ../scss/header-bar.scss */
  header .bar h2.site {
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    left: 0%;
    line-height: 0em; }
    /* line 56, ../scss/header-bar.scss */
    header .bar h2.site .icon {
      display: block;
      color: rgba(0, 0, 0, 0.1);
      cursor: pointer;
      margin: 0 auto;
      width: 32px;
      height: auto;
      font-size: 32px;
      line-height: 1em; }
    /* line 67, ../scss/header-bar.scss */
    header .bar h2.site .icon:hover {
      color: rgba(0, 0, 0, 0.5); }
    /* line 71, ../scss/header-bar.scss */
    header .bar h2.site .location {
      color: rgba(0, 0, 0, 0.23);
      font-size: 16px; }
      /* line 75, ../scss/header-bar.scss */
      header .bar h2.site .location:hover {
        color: #333;
        transition: all .7s ease; }
  /* line 84, ../scss/header-bar.scss */
  header .bar .nav-icon {
    float: right;
    font-size: 52px;
    top: 25px;
    position: absolute;
    right: 25px;
    color: #333;
    text-shadow: 0 1px 0 rgba(27, 27, 27, 0.06); }
  /* line 94, ../scss/header-bar.scss */
  header .bar nav ul {
    display: none; }

/* line 5, ../scss/userena.scss */
.accounts h2 {
  text-align: center;
  margin: .5em auto;
  position: relative;
  display: inline-block;
  width: 100%;
  font-weight: 100;
  font-family: 'Open Sans';
  font-size: 4em; }
/* line 16, ../scss/userena.scss */
.accounts .white-box {
  width: 90%;
  margin: 4em auto;
  margin-top: 1em;
  background: #eee; }
  /* line 22, ../scss/userena.scss */
  .accounts .white-box #box-nav {
    line-height: 3em; }
    /* line 24, ../scss/userena.scss */
    .accounts .white-box #box-nav li a {
      color: #333; }
/* line 30, ../scss/userena.scss */
.accounts form {
  /* border: solid 1px #8D8D8D; */
  width: 70%;
  margin: 1em auto;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.02); }
  /* line 32, ../scss/userena.scss */
  .accounts form .accounts form #box-nav li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    line-height: 3em;
    background: #FFF; }
  /* line 40, ../scss/userena.scss */
  .accounts form .accounts form input[type="submit"] {
    border: none;
    margin: 3%;
    padding: 1em 2em;
    border-radius: 2px;
    background: #abe2ab;
    display: inline-block; }
  /* line 49, ../scss/userena.scss */
  .accounts form .accounts form p input[type="file"] {
    width: 65%;
    display: inline-block;
    font-size: 14px;
    line-height: 2em; }
  /* line 56, ../scss/userena.scss */
  .accounts form .accounts form span.helptext {
    display: block;
    /* border-bottom: solid 1px #EEE; */
    padding: 1em 3% 0em 31.5%;
    margin: 0 0 2em;
    color: #AAA; }
  /* line 64, ../scss/userena.scss */
  .accounts form .accounts form ul#box-nav li a:hover {
    background: #E2E2E2;
    color: #333;
    transition: all .5s ease; }
  /* line 70, ../scss/userena.scss */
  .accounts form .accounts form ul.errorlist li {
    margin: 1em 0;
    background: #3D3D3D;
    display: inline-block;
    padding: .4em .8em;
    color: white;
    border-radius: 2px; }
  /* line 79, ../scss/userena.scss */
  .accounts form .accounts form ul.errorlist {
    margin: 0 1em 0 0;
    padding: 1% 3% 0%; }
  /* line 88, ../scss/userena.scss */
  .accounts form legend {
    font-size: 3em;
    padding: 1% 3%;
    font-weight: 100;
    color: #AAA; }
  /* line 97, ../scss/userena.scss */
  .accounts form p label {
    width: 25%;
    font-weight: normal;
    font-size: 1.2em;
    margin: 0 3%; }
  /* line 104, ../scss/userena.scss */
  .accounts form p input {
    width: 65%;
    border: none;
    background: #DDD;
    font-size: 1.4em;
    border-radius: 4px;
    padding: .5em 1em;
    line-height: 1em; }
  /* line 115, ../scss/userena.scss */
  .accounts form p .checkbox {
    margin: 1em 0em 01em 32%; }
    /* line 117, ../scss/userena.scss */
    .accounts form p .checkbox input {
      width: initial; }

/* line 125, ../scss/userena.scss */
p.forgot-password {
  display: inline-block; }

/* line 130, ../scss/userena.scss */
ul#box-nav {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden; }
  /* line 136, ../scss/userena.scss */
  ul#box-nav li {
    display: inline-block;
    width: 24.7%;
    margin: 0;
    padding: 0;
    color: #DDD;
    border-bottom: solid 1px;
    text-align: center;
    /* padding: 1em 0; */ }

/* line 149, ../scss/userena.scss */
img.mugshot {
  width: 140px;
  margin: 4%;
  background: rgba(0, 0, 0, 0.08);
  padding: 20px; }

/* line 156, ../scss/userena.scss */
#details dl dt {
  display: inline-block;
  width: 20%;
  /* background: #ddd; */ }

/* line 162, ../scss/userena.scss */
#details dl dd {
  display: inline-block;
  width: 78%; }

/* line 167, ../scss/userena.scss */
div#details {
  /* border: solid 1px; */
  width: 50%;
  display: inline-block;
  font-size: 18px;
  line-height: 2em; }

/* line 175, ../scss/userena.scss */
div.clear {
  clear: both; }

/* line 179, ../scss/userena.scss */
div.navbar.navbar-inverse.navbar-fixed-top {
  height: 100px; }

/* line 184, ../scss/userena.scss */
.navbar ul.main.menu li:nth-child(1) {
  border-top: none; }

@media all and (max-width: 1600px) {
  /* line 3, ../scss/responsive.scss */
  .page-container .hero {
    padding: 0;
    padding-top: 100px; }
    /* line 8, ../scss/responsive.scss */
    .page-container .hero h1.brand {
      font-size: 11em; }
    /* line 12, ../scss/responsive.scss */
    .page-container .hero .icon {
      width: 23%; }
    /* line 16, ../scss/responsive.scss */
    .page-container .hero h2 {
      float: left;
      width: 61%;
      margin-top: 5%;
      margin-left: 8%;
      font-size: 2.1em; } }
@media all and (max-width: 1400px) {
  /* line 29, ../scss/responsive.scss */
  .page-container .hero {
    padding: 100px; }
  /* line 35, ../scss/responsive.scss */
  .page-container h1.brand {
    font-size: 10em; }
  /* line 39, ../scss/responsive.scss */
  .page-container .icon {
    width: 15%; } }
@media all and (max-width: 1200px) {
  /* line 48, ../scss/responsive.scss */
  .page-container .hero h1.brand {
    font-size: 8em;
    width: 100%;
    text-align: center;
    float: none; }
  /* line 55, ../scss/responsive.scss */
  .page-container .hero .icon {
    width: 100%;
    float: none;
    height: 250px;
    background-position: 50%;
    background-size: 200px; }
  /* line 63, ../scss/responsive.scss */
  .page-container .hero h2 {
    width: 100%%;
    text-align: center;
    font-size: 2em; } }
/* line 18, ../scss/base.scss */
html {
  height: 100%; }

/* line 22, ../scss/base.scss */
body {
  font: 100% "lato", Helvetica, sans-serif;
  color: #333333;
  background: #f5f5f5;
  height: 100%;
  margin-top: 100px; }
  /* line 29, ../scss/base.scss */
  body .page-container {
    margin-left: 15%;
    display: inline-block;
    width: 70%; }

/* line 36, ../scss/base.scss */
.hero {
  color: white;
  min-height: 450px;
  background: url("/static/img/8.jpg");
  text-shadow: 0 2px 1px rgba(50, 50, 50, 0.9);
  background-size: cover;
  padding: 200px 0 0;
  position: relative; }
  /* line 45, ../scss/base.scss */
  .hero .mini {
    min-height: 60px;
    padding: 0;
    height: 200px; }
    /* line 50, ../scss/base.scss */
    .hero .mini .icon {
      height: 140px;
      margin: 30px 0;
      width: 25%; }
    /* line 56, ../scss/base.scss */
    .hero .mini h1.brand {
      font-size: 6em;
      width: 75%;
      margin-top: 30px; }
    /* line 62, ../scss/base.scss */
    .hero .mini h2 {
      width: 74.5%;
      margin-top: .5em;
      font-size: 1.8em; }
  /* line 69, ../scss/base.scss */
  .hero .icon {
    width: 35%;
    height: 300px;
    border: 0;
    float: left;
    background: url("/static/img/icons/marker.svg") no-repeat;
    background-size: 100% 123%;
    background-position: 199%; }
  /* line 79, ../scss/base.scss */
  .hero h1.brand {
    display: inline-block;
    font-size: 11em;
    width: 65%;
    line-height: .8em;
    float: right;
    font-weight: 100;
    margin: -12px 0px 0 0;
    position: relative;
    z-index: 2; }
  /* line 91, ../scss/base.scss */
  .hero h2 {
    width: 63.4%;
    font-size: 2.15em;
    float: right;
    margin-top: 1.9em;
    font-weight: 200;
    letter-spacing: 1px;
    position: relative;
    z-index: 2;
    text-shadow: none; }
    /* line 102, ../scss/base.scss */
    .hero h2 span {
      font-size: .8em;
      margin-left: .6em; }

/* line 110, ../scss/base.scss */
.dials {
  display: inline-block;
  width: 76%;
  margin: 6% 12% 1%; }
  /* line 115, ../scss/base.scss */
  .dials .dial {
    display: inline-block;
    width: 33%;
    text-align: center;
    margin-bottom: 3em; }
    /* line 121, ../scss/base.scss */
    .dials .dial h3 {
      margin: .8em 0 .0em 0;
      font-size: 38px;
      font-weight: 200;
      text-transform: uppercase; }
    /* line 130, ../scss/base.scss */
    .dials .dial .knob canvas {
      border: solid 2px;
      border-radius: 50%; }
    /* line 135, ../scss/base.scss */
    .dials .dial .knob .input-knob {
      font-family: lato !important;
      font-size: 42px !important; }

/* line 144, ../scss/base.scss */
.overlay:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.44); }

/* line 155, ../scss/base.scss */
.overlay {
  background: url("/static/img/022.jpg");
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .2;
  z-index: 1; }
