/* line 2, ../scss/calendar.scss */
.dates > div {
  border: solid 1px;
  width: 100%; }
/* line 7, ../scss/calendar.scss */
.dates h3 {
  font-size: 2em; }

/* line 11, ../scss/calendar.scss */
.dates > div.hidden {
  display: none; }
