/* line 2, ../scss/header-menu.scss */
header {
  position: absolute;
  top: 0;
  /* height: 100px; */
  width: 100%;
  background: white;
  z-index: 2; }

/* line 11, ../scss/header-menu.scss */
header .bar {
  font-size: 32px;
  margin: 20px 0 20px 0;
  line-height: 60px;
  font-weight: 200;
  height: 60px; }
  /* line 18, ../scss/header-menu.scss */
  header .bar .logo {
    width: 100px;
    height: 60px;
    display: inline-block;
    vertical-align: top;
    background-color: #EEE; }
    /* line 25, ../scss/header-menu.scss */
    header .bar .logo .icon {
      background: url("/static/img/icons/marker.svg") no-repeat top;
      width: 100px;
      height: 60px;
      background-size: 61%; }
  /* line 33, ../scss/header-menu.scss */
  header .bar h1, header .bar h2 {
    font-size: 2em;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top; }
  /* line 41, ../scss/header-menu.scss */
  header .bar h1 {
    font-size: 1.6em;
    margin-left: 20px;
    line-height: 60px; }
  /* line 47, ../scss/header-menu.scss */
  header .bar h2.site {
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    left: 0%;
    line-height: 0em; }
    /* line 56, ../scss/header-menu.scss */
    header .bar h2.site .icon {
      display: block;
      color: rgba(0, 0, 0, 0.1);
      cursor: pointer;
      margin: 0 auto;
      width: 32px;
      height: auto;
      font-size: 32px;
      line-height: 1em; }
    /* line 67, ../scss/header-menu.scss */
    header .bar h2.site .icon:hover {
      color: rgba(0, 0, 0, 0.5); }
    /* line 71, ../scss/header-menu.scss */
    header .bar h2.site .location {
      color: rgba(0, 0, 0, 0.23);
      font-size: 16px; }
      /* line 75, ../scss/header-menu.scss */
      header .bar h2.site .location:hover {
        color: #333;
        transition: all .7s ease; }
  /* line 84, ../scss/header-menu.scss */
  header .bar .nav-icon {
    float: right;
    font-size: 52px;
    top: 25px;
    position: absolute;
    right: 25px;
    color: #333;
    text-shadow: 0 1px 0 rgba(27, 27, 27, 0.06); }
  /* line 94, ../scss/header-menu.scss */
  header .bar nav ul {
    display: none; }
