/* line 5, ../scss/userena.scss */
.accounts h2 {
  text-align: center;
  margin: .5em auto;
  position: relative;
  display: inline-block;
  width: 100%;
  font-weight: 100;
  font-family: 'Open Sans';
  font-size: 4em; }
/* line 16, ../scss/userena.scss */
.accounts .white-box {
  width: 90%;
  margin: 4em auto;
  margin-top: 1em;
  background: #eee; }
  /* line 22, ../scss/userena.scss */
  .accounts .white-box #box-nav {
    line-height: 3em; }
    /* line 24, ../scss/userena.scss */
    .accounts .white-box #box-nav li a {
      color: #333; }
/* line 30, ../scss/userena.scss */
.accounts form {
  /* border: solid 1px #8D8D8D; */
  width: 70%;
  margin: 1em auto;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.02); }
  /* line 32, ../scss/userena.scss */
  .accounts form .accounts form #box-nav li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    line-height: 3em;
    background: #FFF; }
  /* line 40, ../scss/userena.scss */
  .accounts form .accounts form input[type="submit"] {
    border: none;
    margin: 3%;
    padding: 1em 2em;
    border-radius: 2px;
    background: #abe2ab;
    display: inline-block; }
  /* line 49, ../scss/userena.scss */
  .accounts form .accounts form p input[type="file"] {
    width: 65%;
    display: inline-block;
    font-size: 14px;
    line-height: 2em; }
  /* line 56, ../scss/userena.scss */
  .accounts form .accounts form span.helptext {
    display: block;
    /* border-bottom: solid 1px #EEE; */
    padding: 1em 3% 0em 31.5%;
    margin: 0 0 2em;
    color: #AAA; }
  /* line 64, ../scss/userena.scss */
  .accounts form .accounts form ul#box-nav li a:hover {
    background: #E2E2E2;
    color: #333;
    transition: all .5s ease; }
  /* line 70, ../scss/userena.scss */
  .accounts form .accounts form ul.errorlist li {
    margin: 1em 0;
    background: #3D3D3D;
    display: inline-block;
    padding: .4em .8em;
    color: white;
    border-radius: 2px; }
  /* line 79, ../scss/userena.scss */
  .accounts form .accounts form ul.errorlist {
    margin: 0 1em 0 0;
    padding: 1% 3% 0%; }
  /* line 88, ../scss/userena.scss */
  .accounts form legend {
    font-size: 3em;
    padding: 1% 3%;
    font-weight: 100;
    color: #AAA; }
  /* line 97, ../scss/userena.scss */
  .accounts form p label {
    width: 25%;
    font-weight: normal;
    font-size: 1.2em;
    margin: 0 3%; }
  /* line 104, ../scss/userena.scss */
  .accounts form p input {
    width: 65%;
    border: none;
    background: #DDD;
    font-size: 1.4em;
    border-radius: 4px;
    padding: .5em 1em;
    line-height: 1em; }
  /* line 115, ../scss/userena.scss */
  .accounts form p .checkbox {
    margin: 1em 0em 01em 32%; }
    /* line 117, ../scss/userena.scss */
    .accounts form p .checkbox input {
      width: initial; }

/* line 125, ../scss/userena.scss */
p.forgot-password {
  display: inline-block; }

/* line 130, ../scss/userena.scss */
ul#box-nav {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden; }
  /* line 136, ../scss/userena.scss */
  ul#box-nav li {
    display: inline-block;
    width: 24.7%;
    margin: 0;
    padding: 0;
    color: #DDD;
    border-bottom: solid 1px;
    text-align: center;
    /* padding: 1em 0; */ }

/* line 149, ../scss/userena.scss */
img.mugshot {
  width: 140px;
  margin: 4%;
  background: rgba(0, 0, 0, 0.08);
  padding: 20px; }

/* line 156, ../scss/userena.scss */
#details dl dt {
  display: inline-block;
  width: 20%;
  /* background: #ddd; */ }

/* line 162, ../scss/userena.scss */
#details dl dd {
  display: inline-block;
  width: 78%; }

/* line 167, ../scss/userena.scss */
div#details {
  /* border: solid 1px; */
  width: 50%;
  display: inline-block;
  font-size: 18px;
  line-height: 2em; }

/* line 175, ../scss/userena.scss */
div.clear {
  clear: both; }

/* line 179, ../scss/userena.scss */
div.navbar.navbar-inverse.navbar-fixed-top {
  height: 100px; }

/* line 184, ../scss/userena.scss */
.navbar ul.main.menu li:nth-child(1) {
  border-top: none; }
