$blueprint-grid-columns : 24;
$blueprint-grid-width   : 30px;
$blueprint-grid-margin  : 10px;
$font-stack 			: 'lato', Helvetica, sans-serif;
$primary-color  		: #333;
$font-color             : #333;
$font-color-light       : #FFF;

@import "compass/css3/font-face";
@import "compass/reset";
@import "compass/utilities";
@import "blueprint";
@import "_fonts";
@import "header-bar";
@import "userena";
@import "responsive";

html {
	height: 100%;
}

body {
  font: 100% $font-stack;
  color: $font-color;
  background: #f5f5f5;
  height: 100%;
  margin-top: 100px;

  .page-container {
		margin-left: 15%;
		display:inline-block;
		width: 70%;
		min-height: 750px;
	}
}

.hero {
	color: 				$font-color-light;
	min-height: 		450px;
	background: 		url('/static/img/8.jpg');
	text-shadow: 		0 2px 1px rgba(50,50,50,.9);
	background-size: 	cover;
	padding: 			200px 0 0;
	position: 			relative;

	&.mini {
		min-height: 60px;
		padding: 0;
		height: 200px;

		.icon {
			height: 140px;
			margin: 30px 0;
			width: 25%;
		}

		h1.brand {
			font-size: 6em;
			width: 75%;
			margin-top: 30px;
		}

		h2 {
		    width: 74.5%;
		    margin-top: .5em;
		    font-size: 1.8em;
		}
	}

	.icon {
		width: 35%;
		height: 300px;
		border: 0;
		float: left;
		background: url("/static/img/icons/marker.svg") no-repeat;
		background-size: 100% 123%;
		background-position: 199%;
	}

	h1.brand {
		display: inline-block;
		font-size: 11em;
		width: 65%;
		line-height: .8em;
		float: right;
		font-weight: 100;
		margin: -12px 0px 0 0;
		position: relative;
		z-index: 2;
	}

	h2 {
		width: 63.4%;
		font-size: 2.15em;
		float: right;
		margin-top: 1.9em;
		font-weight: 200;
		letter-spacing: 1px;
		position: relative;
		z-index: 2;
		text-shadow: none;

		span {
			font-size: .8em;
			margin-left: .6em;
		}
	}

	.slice.core.signup a {
		color: white;
		border-color: white;
	}

}

.dials {
	display: inline-block;
	width: 76%;
	margin: 6% 12% 1%;

	.dial {
		display: inline-block;
		width: 33%;
		text-align: center;
		margin-bottom: 3em;

		 h3 {
			margin: .8em 0 .0em 0;
			font-size: 38px;
			font-weight: 200;
			text-transform: uppercase;
		}

		.knob
		{
			canvas {
				border: solid 2px;
				border-radius: 50%;
			}

			.input-knob {
				font-family: lato !important;
				font-size: 42px !important;
			}
		}

	}
}

.overlay:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.44);
}

.overlay {
	background: url("/static/img/022.jpg");
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: .2;
	z-index: 1;
}
