
header {
	position: fixed;
	top: 0;
	/* height: 100px; */
	width: 100%;
	background: white;
	z-index: 4;
	box-shadow: 0 2px 1px rgba(1,1,1,.18);
}

header .bar {
	font-size: 32px;
	margin: 20px 0 20px 0;
	line-height: 60px;
	font-weight: 200;
	height: 60px;

	.logo {
		width: 100px;
		height: 60px;
		float: right;
		display: inline-block;
		vertical-align: top;
		background-color: #EEE;

		.icon {
			background: url("/static/img/icons/marker.svg") no-repeat top;
			width: 100px;
			height: 60px;
			background-size: 61%;
		}
	}

	h1, h2 {
		font-size: 2em;
		display: inline-block;
		margin: 0;
		padding: 0;
		vertical-align: top;
	}

	h1 {
		font-size: 1.6em;
		margin-left: 1.9em;
		line-height: 60px;
		margin-top: 2px;
		color: #DDD;
	}

	h2.site {

		position: absolute;
		text-align: center;
		width: 100%;
		margin: 0 auto;
		left: 0%;
		line-height: 0em;

		.icon {
			display: block;
			color: rgba(0, 0, 0, 0.1);
			cursor: pointer;
			margin: 0 auto;
			width: 32px;
			height: auto;
			font-size: 32px;
			line-height: 1em;
		}

		.icon:hover {
			color: rgba(0, 0, 0, 0.5);
		}

		.location {
			color: rgba(0, 0, 0, 0.23);
			font-size: 16px;

			&:hover {
				color: #333;
				transition: all .7s ease;
			}
		}

	}


	.nav-icon {
		font-size: 52px;
		top: 25px;
		position: absolute;
		left: 25px;
		color: #333;
		z-index: 3;
		cursor: pointer;
		text-shadow: 0 1px 0 rgba(27, 27, 27, 0.06);
	}

	nav ul{
		display: none;
	}
}
