@import "base";
@import "menu";
@import "bookings";

.quote {
	&.intersection {
		padding: .5em 1.5em 1em;
		background: url("/static/img/4.jpg");
		background-position: bottom;
		background-size: cover;

		p {
			position: relative;
			z-index: 2;
		}
	}


	font-size: 3.5em;
	line-height: 1.4em;
	font-weight: 100;
	color: white;
	padding: .5em .5em 1em;
	background: #161616;
	background-size: 200px;
	margin-top: 1em;
	position: relative;
	background-position: center 65px;

	.icon {
		background: url("/static/img/icons/marker.svg") no-repeat;
		background-size: 200px;
		width: 200px;
		height: 200px;
		margin: 1em auto;
		display: block;
	}
}


section.slice {
	clear: 						both;
	margin: 					5em 0;
	padding: 					30px 100px 0;
	font-size: 					1.4em;
	background: 				rgba(0, 0, 0, 0.05);
	line-height: 				1.8em;

	&.signup {

		background: none;
		text-align: center;
		margin-bottom: 3em;
		margin-top: 1em;

		a.signup {
			display: inline-block;
			border: solid 1px rgba(24, 24, 24, 1);
			color: black;
			padding: .5em 1em;
			font-size: 2em;
			font-weight: 200;
			text-decoration: none;
			text-shadow: none;
			text-transform: uppercase;
			box-shadow: none;
			background: rgba(0, 0, 0, 0.01);
			position:relative;
			z-index: 4;
		}
	}

	&.pricing {
		background: url('/static/img/2.jpg');
		background-size: cover;

		.items {
			.price {
				width: 33%;
				display: inline-block;
				vertical-align: top;
				background: rgba(255, 255, 255, 0.67);;
				margin: 0 0 2em;
				box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.19);
				padding: 0 0 4em;

				ul li {
					font-size: 1em;
					font-weight: 200;
					margin: 0 2em .1em;
					list-style-type: initial;
					line-height: 1.8;
				}

				p.cost {
					font-size: 2.3em;
					margin: 1em .5em;
					text-align: center;
				}

				p {
					display: block;
					margin: 10px 1em 2em 1em;
					padding: 0;
					width: 89%;
					font-size: 1.2em;
					color: #333;
				}

				h4 {
					border: solid 7px;
					width: 5em;
					height: 5em;
					text-align: center;
					line-height: 5em;
					border-radius: 50%;
					margin: 2em auto 0;
					font-size: 2.2em;
					font-weight: 200;
					color: black;
					text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.58);
					background: rgba(252, 252, 252, 0.77);

					&.free {
						border-color: rgb(128, 187, 136);
					}

					&.small {
						border-color: #BDB561;
					}

					&.simple {
						border-color: #80AABB;
					}

					&.standard {
						border-color: #8F2A2A;
					}

					&.enterprise {
						border-color: #4B4B4B;
					}

					&.big {
						border-color: #fff;
					}
				}

			}
		}

		.price-intersection{
			position: relative;

			p {
				color: white;
				width: 100%;
				font-size: 3em;
				margin: 1em 0 1.5em;
				text-shadow: 0 -1px 1px rgba(32, 32, 32, 0.14);
				border-top: solid 1px rgba(255, 255, 255, 0.38);
				padding-top: 4em;
				padding-bottom: .75em;
				border-bottom: solid 1px rgba(255, 255, 255, 0.26);
				box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06);
				background: url('/static/img/icons/marker.png') no-repeat;
				background-size: 200px;
				background-position: center .75em;

				a{
					color: #EFEFEF;
					text-decoration: none;
					border-bottom: dotted 1px;
				}
			}
		}
	}

	&.main {
		padding-top: 3em;

	}
	.point {
		width: 					33%;
		display: 				inline-block;
		vertical-align: 		top;

		h3 {
			color: 				#333;
			margin: 			0% 0 10%;
			padding: 			0;
			font-size: 			2.3em;
			text-align: 		center;
			font-weight: 		200
		}

		.image {

			&.water {
				border-color: rgb(149, 179, 202);
			}

			&.ribbon {
				border-color: #56687E;
			}

			&.covered {
				border-color: #BD8383;
			}

			width: 128px;
			clear: both;
			margin: 50px auto 0;
			height: 128px;
			padding: 2em;
			text-align: center;
			border: solid 4px;
			border-radius: 50%;
			background: white;

			.icon {
				margin-top: 30px;
				font-size: 80px;
				border: solid 5px;
				color: #444;
				border-radius: 50%;
				padding: 55px;
				width: 180px;
				background: rgba(255, 255, 255, 0.7);
				box-shadow: 0 7px 0px rgba(0, 0, 0, 0.16);
			}

			.icon-bookmark {
				color: #7A2E2E;
			}

			.icon-leaf {
				color: #507E50;
			}

			.icon-shield {
				color: #424757;
			}
		}

		p {
			font-size: 1em;
			width: 90%;
			margin: 10% 5%;
			padding: 0;
			line-height: 1.7em;
			font-weight: 200;
		}
	}

	.shot {

		width: 			60%;
		height: 		300px;
		display: 		inline-block;
		background: 	$primary-color;
		vertical-align: bottom;
	}

	h3 {
		padding: 		0px 0px 20px 0px;
		font-size: 	 	2.5em;
		margin-top:		1em;
		margin-bottom: 	1.5em;
		text-transform: uppercase;
		font-weight: 	200;
	}

	p {
		width: 			30%;
		display: 		inline-block;
		margin-left: 	9%;
		margin-right: 	0;
		margin-bottom:  30px;
		font-size: 1.5em;
		font-weight: 200;
		line-height: 1.6em;
	}

	p.left {
		margin-left: 	0;
		margin-right: 	9%;
	}
}

section.slice.pricing {

}

