body .menu {
	width: 15%;
	background: #333;
	display: inline-block;
	height: 100%;
	vertical-align: top;
	position: fixed;
	transition: all 500ms cubic-bezier(0.490, 0.675, 0.055, 0.785);
	left: 0;

	&.hidden {
		left: -15%;
		transition: all 500ms cubic-bezier(0.490, 0.675, 0.055, 0.785);

	}

 	li {
 		a{
			color: white;
			background: #1F1F1F;
			display: inline-block;
			width: 70%;
			padding: 10% 15%;
			margin-top: 1px;
			text-decoration: none;
			font-size: 1.3em;
			font-weight: 200;
			border-bottom: solid 1px #000;
			cursor: pointer;
		}
	}
}
